body{
    margin: 0;
    padding: 0;
    background-color: #111;
}

div.upper section.title{
    width: 100vw;
    height: 4vh;
    position: absolute;
}

.title h1{
    text-align: right;
    margin-right: 4vw;
    font-size: 8vw;
    margin-top: 15vh;
}

div.upper section{
    float: left;
    width: 75vw;
    height: 100vh;
}

.f1{
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/556796995088547851/880213357716705320/20210825_232016.jpg?width=1065&height=855');
    position: absolute;
    width: inherit;
    height: inherit;
    filter: blur(5px) grayscale(1);
    transition: ease-in-out 100ms;
}

.f2{
    clip-path: polygon(60% 40%, 60% 60%, 0 100%, 0 63%);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) grayscale(1);
    transition: ease-in-out 100ms;
    background-image: url('https://cdn.discordapp.com/attachments/556796995088547851/850886690955460628/20210605_224537.png?width=106&height=855');
}

.f3{
    clip-path: polygon(60% 100%, 60% 60%, 0 100%);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px) grayscale(1);
    transition: ease-in-out 100ms;
    background-image: url('https://cdn.discordapp.com/attachments/556796995088547851/810191654622461952/IMG_20210212_213605_005.jpg?width=1065&height=855');
}

.f1:hover, .f2:hover, .f3:hover{
    filter: blur(0px) grayscale(0);
    transform: translateX(0.4vw)
}

a{
    width: inherit;
    height: inherit;
}



.content{
    position: absolute;
    top: 40vh;
    right: 2.5vw;
    display: grid;
    width: 50vw;
    height: 50vh;
    place-items: center;
    grid-template-rows: 49% 49%;
    grid-template-columns: 18% 18% 18% 18% 18%;
}

.flexbox{
    background-image: url('https://cdn.discordapp.com/attachments/556797084674555916/868215853018132540/598a.png');
    clip-path: polygon(70% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%, 0 0);
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content a{
    width: 95%;
    height: 95%;
}

.flextwo{
    margin-left: 5vw;
}