@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root{
    --size: min(2vmax, 16px);
    --font: min(1vmax);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    font-size: var(--font);
}

div#sheet{
    width: 100%;
    height: 100%;
    perspective: 1000px;
    background: linear-gradient(243deg, rgba(247,213,255,1) 20%, rgba(177,251,255,1) 80%);
    overflow: hidden;
}

div#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 25;
    filter: drop-shadow(-12px -12px 12px rgba(0,0,0,0.25));
}

div#sheet div#grid{
    position: relative;
    width: calc(var(--size)*500);
    height: 100%;
    background: linear-gradient(
        90deg,
        hsl(36, 100%, 75%) 10%,
        hsl(179, 68%, 75%) 40%,
        hsl(188, 76%, 75%) 50%,
        hsl(212, 86%, 75%) 60%,
        hsl(308, 97%, 75%) 90%
    );
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transform: rotateX(80deg) translateX(-25%);
    transform-origin: bottom;
    transform-style: preserve-3d;
    z-index: -1;
}

div#sheet div.part{
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    filter: drop-shadow(2px 2px 3px black);
    isolation: isolate;
}

div#sheet table{
    position: absolute;
    background: linear-gradient(243deg, rgba(247,213,255,1) 20%, rgba(177,251,255,1) 80%);
    font-size: 300%;
    font-family: 'Permanent Marker', cursive;
    border: calc(var(--size) * 0.5) solid black;
    border-radius: 25px;
    border-spacing: 0;
}

div#sheet table td{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

div#sheet table th b{
    font-weight: 900;
}

div#sheet table *[data-none]{
    background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
    background-size: 8px 8px;
}

div#sheet table td, div#sheet table th{
    padding: 10px;
    border-inline: calc(var(--size) * 0.2) solid black;
}

div#sheet table th{
    border-bottom: calc(var(--size) * 0.4) solid black;
}

div#sheet tr[data-money] td{
    border-bottom: calc(var(--size) * 0.4) solid black;
}

div#sheet tr:not([data-money]) td:not([data-none]){
    border-bottom: calc(var(--size) * 0.2) solid black;
}

div#sheet p{
    text-transform: lowercase;
    font-size: 500%;
    font-family: 'Major Mono Display', monospace;
    text-align: right;
    transform: translateY(-250%);
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 12px 12px 0 0;
}

div#sheet p::after{
    content: 'Hover for more info';
    position: absolute;
    font-size: 25%;
    bottom: 100%;
    background-color: inherit;
    padding: 12px;
    border-radius: 12px 12px 0 0;
}

div#sheet div#imagea, div#sheet div#imageb{
    transform-origin: bottom;
    position: absolute;
    height: 100vh;
    transform: scale(-1, 1) translateX(10%);
    bottom: 0;
    z-index: 3;
    aspect-ratio: 3119/4062;
    background-image: url('https://files.catbox.moe/dufenq.png');
    background-size: contain;
    filter: drop-shadow(-12px -12px 12px rgba(0,0,0,0.25));
}

div#sheet div#imageb{
    transform:translateX(10%);
    bottom: 0;
    right: 0;
    aspect-ratio: 1500/2200;
    background-image: url('https://files.catbox.moe/aqg3c8.png');
}

div#sheet .title::before, div#sheet .title::after{
    --bg: url('');
    content: '';
    position: absolute;
    display: inline-flex;
    bottom: 0;
    transform: translateY(75%);
    transform-origin: center;
    height: 0%;
    aspect-ratio: 1/1;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: height 250ms ease-in, outline 250ms ease-in;
    outline: 0px solid black;
    filter: drop-shadow(-3px -3px 12px rgba(0,0,0,0.25))
}

div#sheet .title:hover::before, div#sheet .title:hover::after{
    transition: height 250ms ease-out, outline 250ms ease-out;
    outline: 3px solid black;
    height: 50%;
}

div#sheet .title::after{
    transform: translateY(150%);
}

div#sheet *[data-drawings]::before{
    aspect-ratio: 1/1;
    --bg: url('https://files.catbox.moe/wwhyq4.jpeg');
}

div#sheet *[data-drawings]::after{
    aspect-ratio: 360/572;
    --bg: url('https://files.catbox.moe/hyi1am.jpeg');
}

div#sheet *[data-renders]::before{
    aspect-ratio: 1/1
    --bg: url('https://files.catbox.moe/2bm2f4.jpeg');
}

div#sheet *[data-renders]::after{
    aspect-ratio: 1/1;
    --bg: url('https://files.catbox.moe/1xx1vs.jpeg');
}

div#sheet *[data-animation]::before{
    aspect-ratio: 1/1;
    --bg: url('https://files.catbox.moe/c5y15z.gif');
}

div#sheet *[data-animation]::after{
    aspect-ratio: 9/16;
    background-size: contain;
    --bg: url('https://files.catbox.moe/kup6sw.gif');
}

div#sheet *[data-character]::before{
    aspect-ratio: 16/9;
    --bg: url('https://files.catbox.moe/ctbgtk.png');
}

div#sheet *[data-character]::after{
    aspect-ratio: 9/16;
    --bg: url('https://files.catbox.moe/lltlz9.jpeg');
}

div#sheet td:not([data-none]):hover, div#sheet th:not([data-none]):hover {
    background-color: rgba(51, 51, 51, 0.1);
}

div#sheet *[data-info]{
    z-index: 3;
    isolation: isolate;
    perspective: var(--size)*500;
}

div#sheet *[data-info]::before{
    content: attr(data-info);
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    margin-top: calc(var(--size)*4.5);
    transform-origin: top;
    font-size: calc(var(--font)*2);
    max-width: 24ch;
    max-height: 24ch;
    transform: scale(0);
    transition: transform 100ms ease-in;
    padding: var(--size);
    border-radius: var(--size);
}

div#sheet *[data-info]:hover::before{
    transform: scale(1);
}

div#sheet a{
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    :root{
        --font: .333rem;
    }
}

@media screen and (min-width: 1000px){
    div#sheet .title::after{
        transform: translateY(100%) translateX(-25%);
    }
    div#sheet *[data-animation]::before{
        background-position: 100% 0%;
        background-size: 150%;
    }
}
