*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked ~ main{
    background-color: #111;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

main{
    max-width: 100ch;
    padding: 2rem;
    padding-top: 4rem;
    color: black;
    background-color: white;
    border-radius: 4rem;
    margin-bottom: 4rem;
}

main > p{
    display: inline-block;
    font-size: 1.2rem;
    text-align: justify;
}

main > p:nth-of-type(n+2){
    padding-block: 10px;
}

main > p > label{
    font-size: 3em;
    line-height: 0;
}

header{
    padding-block: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 3rem;
}

h4{
    text-align: center;
    padding-inline: 3rem;
}