@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-size: 2vh;
    line-height: 32px;
}

#page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image{
    width: 80%;
    height: calc(9/16*80%);
    background: darkgray;
    margin-block: calc(0.125*9/16*80%);
    margin-inline: 10%;
    clip-path: polygon(0 10%, 10% 0, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
    background-size: cover;
    background-position: center;
}

#text{
    width: calc(100vw*0.8);
    height: calc(9/16*75%);
    background-image: url(./img/sand.png);
    background-size: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 10%, 10% 0, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
}

#prompt{
    height: 40%;
    margin-block: 5%;
    width: calc(100vw*0.7);
    background: rgba(128,128,128,0.5);
    clip-path: polygon(0 10%, 10% 0, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
    display: flex;
    justify-content: center;
}

#options{
    max-height: 50%;
}

.opt{
    max-width: calc(100vw*0.7);
    padding: 10px;
    background-color: rgba(64,64,64,0.25);
    border-radius: 50vw;
    text-align: center;
    transition: ease-in-out 0.25s;
}

.opt:hover{
    padding: 20px;
    background-color: rgba(64,64,64,0.35);
}

.opt:active{
    background-color: rgba(64,64,64,0.6);
    font-size: 1.8vh;
}

#character{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(25px 25px 25px rgba(0,0,0,0.7))
}

input{
    margin-top: 10px;
    text-align: center;
    width: calc(100vw*0.7);
    font-size: 2vh;
}

p{
    max-width: 80%;
    text-align: left;
    overflow-y: scroll;
    padding-block: 25px;
    scrollbar-width: none;
    font-size: 2.4vh;
}

#bg{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(0.5vh);
    position: absolute;
    z-index: -1;
}

#stats{
    display: flex;
    flex-direction: row;
}

.stat{
    background-color: rgba(64,64,64,0.25);
    margin-inline: 10px;
    padding-inline: 10px;
}