@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body{
    background-color: rgba(0,0,0,1);
    padding:0;
    margin:0;
    float: left;
    z-index: -1;
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}

div.bg{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
    float: left;
    z-index: 0;
}

img.bgimg{
    filter: blur(10px) grayscale();
    position: relative;
    width: 99.5vw;
    height: 99.5vh;
    padding:0;
    margin:0;
    z-index: 0;
}



/* Sections */

div.sectionA{
    position: absolute;
    z-index: 3;
    height: 25vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionA:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midA{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/868215866699968602/598b.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionB{
    margin-left: 25vw;
    position: absolute;
    z-index: 3;
    height: 44vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionB:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midB{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/867373248382238740/597a.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionC{
    margin-left: 50vw;
    position: absolute;
    z-index: 3;
    height: 14vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionC:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midC{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/866052756376780820/595full.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionD{
    margin-left: 75vw;
    position: absolute;
    z-index: 3;
    height: 44vw;
    width: 24vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionD:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midD{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/862380641219903538/588c.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionE{
    margin-left: 0vw;
    margin-top: 25vw;
    position: absolute;
    z-index: 3;
    height: 25vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionE:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midE{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/860080914331729940/581b.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionF{
    margin-left: 25vw;
    margin-top: 44vw;
    position: absolute;
    z-index: 3;
    height: 6vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionF:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midF{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/860080911210774568/586b.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionG{
    margin-left: 50vw;
    margin-top: 14vw;
    position: absolute;
    z-index: 3;
    height: 25vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionG:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midG{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/832741118462132275/563a.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionH{
    margin-left: 75vw;
    margin-top: 44vw;
    position: absolute;
    z-index: 3;
    height: 6vw;
    width: 24vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionH:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midH{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/818146495618220032/542a.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}

div.sectionK{
    margin-left: 50vw;
    margin-top: 39vw;
    position: absolute;
    z-index: 3;
    height: 11vw;
    width: 25vw;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    filter: blur(10px) grayscale(100%);
    transition: ease-in-out 0.25s;
}
div.sectionK:hover{
    filter: blur(0px) grayscale(0%);
    transition: ease-in-out 0.25s;
}
a.midK{
    background-image: url("https://cdn.discordapp.com/attachments/556797084674555916/827264698377830400/559a.png");
    background-size: cover;
    position: relative;
    z-index: inherit;
    height: inherit;
    width: inherit;
    display: block;
}